.container {
  display: flex;

  justify-content: center;

  padding: 1rem;
  width: 100%;
  background: #d1d1d1;
  width: 100vw;
}

.conteudo {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100rem;

  align-items: center;
  justify-content: center;

  padding: 1.2rem 0;

  gap: 2rem;
}

.headerLogo {
  max-width: 6rem;
}

.headerLogo > img {
  width: 100%;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerContent > h2 {
  font: 700 2.5rem 'Poppins', sans-serif;
  text-align: center;
  color: #ea4335;
}

.botao-voltar {
  display: flex;
  position: absolute;
  left: 0;
  max-width: 4rem;
  max-height: 4rem;
  width: 100%;
  height: 100%;
}

.botao-voltar > button {
  display: flex;
  width: 100%;
  height: 100%;
  background: none;
  border: 1px solid #ea4335;
  border-radius: 2rem;
}

.botao-voltar > button > img {
  height: 100%;
  width: 100%;

  filter: invert(38%) sepia(60%) saturate(2151%) hue-rotate(337deg)
    brightness(90%) contrast(103%);
}

.botao-voltar:hover {
  filter: brightness(0.9);
}

@media (max-width: 400px) {
  .conteudo {
    flex-direction: column;
  }

  .headerContent > h2 {
    font: 600 1.8rem 'Poppins', sans-serif;
    padding: 0 !important;
    text-align: center;
  }
}
